.dashboard-view {
  margin-top: var(--margin-top);

  .statistics-grid {
    margin-top: var(--margin-top);

    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .charts-grid {
    margin-top: 2rem;

    display: grid;
    gap: 1rem;
    /* grid-template-columns: 2fr 1fr; */
  }

  .logs {
    margin-top: 2rem;
    .log-line {
      display: flex;
      justify-content: space-between;
      padding: calc(var(--padding-h) * 2);
    }
  }
}

@media (max-width: 1024px) {
  .dashboard-view .statistics-grid {
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
  }
}
