.statistics-card {
  /* width: fit-content; */
  /* height: fit-content; */
  padding: 1.5rem 2rem;

  background-color: var(--card);
  border: 2px solid var(--border);
  border-radius: var(--radius);
}
