h1 {
  font-weight: bold;
  margin: 0;
}
h2 {
  font-weight: bold;
  margin: 0;
}
h3 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

a {
  font-size: 1rem;
  text-decoration: none;
}
a:visited {
  color: var(--muted-foreground);
}

.button-active,
a.button-active,
a.button-active:visited {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

.border-b {
  border-bottom: var(--border-width) solid var(--border);
}
.border-t {
  border-top: var(--border-width) solid var(--border);
}

.bold {
  font-weight: bold;
}

.text-muted {
  color: var(--muted-foreground);
}

.font-sans {
  font-family: var(--font-sans);
}
.font-mono {
  font-family: var(--font-mono);
}

@keyframes slide-in-up {
  from {
    transform: translateY(8rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-up {
  animation: slide-in-up 400ms ease-out;
}
